<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
  
      </div>
    </nav>
  
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">Avocado and Gas Prices (2015 - 2018)</h1>
        <p class="lead">Abdulla Alrashdi, Jeff Bauman, Jake Brucks, Alex Cole, and Robert Hartley</p>
        <hr>
        <h4 class="container">Data Sources and Additional Information</h4>
      </div>
    </div>
  
  <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3 class="text-center">Avocado Graphic</h3>
            <div class="col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Insert Avocado Graphic Here</h5>
                  <p class="card-text">Insert Avocado Graphic Here</p>
                </div>
              </div>
          </div>
          <div class="col-md-1">
          </div>
          <div class="col-md-4">
            <h3 class="text-center">Avocado Dashboard</h3>
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Insert Avocado Dashboard Here</h5>
                <p class="card-text">Insert Avocado Dashboard here</p>
              </div>
            </div>
          </div>
        </div>
  
  
      <div class="row">
        <div class="col-md-12">
          <h3 class="text-center">Graphs</h3>
          <div class="card">
              <div class="card-body">
                <h5 class="card-title">Graph title</h5>
                <p class="card-text">Graphs inserted here.</p>
              </div>
            </div>
          </div>
      </div>
  </div>
  
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
</body>
</html>